@model RegionDTO
@{
    var countries = Enumerable.Empty<CountryDTO>().ToList();
    var topHeader = new TopHeaderDTO()
    {
        AdditionalText = Model.Name,
        Image = string.Concat(settings.Value.BaseUrl, "images/top/continent.jpg"),
        BreadCrumb = new List<BreadCrumbDTO>()
        {
            new BreadCrumbDTO()
            {
                Action = Url.Action("Index", "Home"),
                Text = Lang("_Home"),
                Order = 1
            },
            new BreadCrumbDTO()
            {
                Action = string.Empty,
                Text = Lang("_Region"),
                Order = 2,
            }
        }
    };
}

@await Html.PartialAsync("~/Views/Shared/Partials/_Top.cshtml", topHeader)

<section class="py-5 border-bottom mt-2">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">@Model.Name</h2>
            <p class="mb-1"><span class="fw-bold">@Lang("_Population"): </span><span>@String.Format("{0:n0}", @Model.TotalPopulation)</span></p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12 col-sm-12 mb-2">
                @if (Model.SubRegions != null && Model.SubRegions.Any())
                {
                    countries = Model.SubRegions.SelectMany(row => row.Countries).ToList();
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="ms-4">
                                        <div class="mb-1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 class="fw-bold mb-2">
                                                        @string.Concat(Lang("_SubRegion"), "s"):
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                            <ul style="margin-left: 1rem;">
                                                @foreach (var item in Model.SubRegions.OrderBy(row => row.Name).ToList())
                                                {
                                                    <li>
                                                        <a class="text-decoration-none" asp-controller="Region" asp-action="SubRegion" asp-route-region="@Model.Name" asp-route-subregion="@item.Name">
                                                            <div> <span class="text-center">@item.Name</span></div>
                                                        </a>
                                                    </li>
                                                }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            </div>
            <div class="col-lg-12 col-sm-12">
                @if (countries != null && countries.Any())
                {
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="ms-4">
                                    <div class="mb-1">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="fw-bold mb-2">
                                                    @Lang("_Countries"):
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @foreach (var item in countries.OrderBy(row=>row.Name).ToList())
                                            {
                                                @await Html.PartialAsync("~/Views/Country/Partials/_CountryFlag.cshtml", item)
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>