
<div class="col-sm-6 col-lg-4 mb-3" v-for="(country, index) in getCountries" :class="index+1% 3 != 0 ? ' mb-lg-0' : ''">
    <div class="row">
        <div class="col-sm-4">
            <div class="feature text-white rounded-3">
                <a class="text-decoration-none" v-on:click="countryDetails(country.code)" style="cursor:pointer;">
                    <img class="img-fluid rounded mx-auto d-block" :src="country.flag.png" />
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <a class="text-decoration-none" v-on:click="countryDetails(country.code)" style="cursor:pointer;">
                <h5 class="fw-bolder mt-3 text-dark">{{country.name}}</h5>
            </a>
        </div>
        <div class="col-sm-12">
            <ul class="country-info">
                <li v-if="country.region !='' && country.region !=null">
                    <span>@Lang("_Region"): </span>
                    <a class="btn btn-link text-decoration-none" v-on:click="regionDetails(country.region)" style="cursor:pointer;">
                        {{country.region}}
                    </a>
                </li>
                <li v-if="country.subRegion !='' && country.subRegion !=null">
                    <span>@Lang("_SubRegion"): </span>
                    <a class="btn btn-link text-decoration-none" v-on:click="subregionDetails(country.subRegion)" style="cursor:pointer;">
                        {{country.subRegion}}
                    </a>
                </li>
                <li class="mt-1">
                    <a class="text-decoration-none text-center" v-on:click="countryDetails(country.code)" style="cursor:pointer;">
                        @Lang("_ViewCountry")
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-12 mt-3 d-flex justify-content-center">
    <paginate :page-count="getPageCount"
              :page-range="pagination.pageRange"
              :margin-pages="pagination.marginPages"
              :click-handler="clickCallback"
              :prev-text="'@Lang("_Prev")'"
              :next-text="'@Lang("_Next")'"
              :container-class="'pagination'"
              :page-class="'page-item'">
    </paginate>
</div>